div#content {
	/* border: 10px groove #ff00ff; */
	margin: 0px auto;
	background-color: #DDDDDD;
	width: 960px;
	height: 580px
}

div#left {
	margin: 10 0 10 0;
	width: 210px;
	height: 560px;
	float:left;
	margin: 10px;
	border: 1px solid black;
	background-color: #AAAAAA;
}


div#menu {
	width: 190px;
	height: 540px;
	margin: 10px;
	background-color: #777777;
}

div#right {
	margin: 10 0 10 0;
	width: 750px;	height: 560px;
	float:right;

	background-color: #BBBBBB;
}

div#product {
	width: 730px;
	height: 410px;
	margin: 10px;
	background-color: #777777;   
}

div#product_info_box {

	background-color: #AAAAAA;
}

div#add {
	float:left;
	width: 190px;
	height: 120px;
	margin: 0 10 0 10;
	background-color: #777777;
}


div#info {
	float:right;  
	width: 530px;
	height: 120px;
	margin: 0 10 0 0;
	background-color: #777777;
}

div#footer {
	text-align:center;
	font-size: 12px;
	font-weight: bold;
}
