body {
	background:#000
}

div#content {
	/* border: 10px groove #ff00ff; */
	margin: 0px auto;
	background-color: #DDD;
	width: 960px;
	height: 580px
}

div#right {
	position: absolute;left:362px;top:19px;
	width: 750px;
	height: 569px;
	float:right;
	background-color: #00FF00;
}

/* ================================MENU================================ */

div#left {
	position: absolute;left:152px;top:19px;
	width: 210px;
	height: 569px;
	float:left;
	background-color: #335566 
}

div#menu {
	position: relative;left:10px;top:10px;
	width: 190px;
	height: 550px;
	background-color: #663311;
}

div#menu_carousel {
	position: relative;left:4px;top:11px;
	width: 168px;
	height: 529px;
	}

div#menu_window {
	position: relative;left:4px;top:11px;
	width: 708px;
	height: 389px
}


/* ================================PRODUCT WINDOW================================ */

div#product {
	position: relative;left:10px;top:10px;
	width: 730px;
	height: 410px;
/*		background-color: #777777;*/
}

div#produkt_window {
	position: relative;left:4px;top:0px;
	width: 708px;
	height: 389px
}

img.img_produkt {
	height: 398px; width: 708px;
}

div#product_info_box {
	position: relative;left:0px;top:10px;
	width: 750px;
	height: 149px;
/*		background-color: #0000FF*/
}

/* ================================ADD================================ */

div#add {
	position: relative;left:10px;top:20px;
	float:left;
	width: 190px;
	height: 120px;
}

div#add_koszyczek {
	position: relative;left:4px;top:11px;
	width: 168px;
	height: 90px
}

/* ================================INFO================================ */

div#info {
	position: relative;left:-10px;top:0px;
	float:right;  
	width: 530px;
	height: 120px;
}

div#info_produkt {
	position: relative;left:4px;top:11px;
	width: 509px;
	height: 90px
}



/* ================================FOOTER and ELSE================================ */

div#footer {
	position: absolute;left:590px;top:600px;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

#mycarousel li {
	width: 100px; 
	height: 100px;
	cursor: pointer; 
}
