body {
	background:#000
}

div#content {
	/* border: 10px groove #ff00ff; */

	margin: 0px auto;
	background-color: #DDD;
	width: 960px;
	height: 580px
}

div#top {
	background:#BBBBBB url('images/workbench/top_middle.jpg') repeat-x;
	width: 960px;
	height: 11px
}

div#top_left {
	background:url('images/workbench/top_left.jpg') no-repeat;
	float:left;
	width: 139px;
	height: 11px;
}

div#top_right {
	background:url('images/workbench/top_right.jpg') no-repeat;
	float:right;
	width: 26px;
	height: 11px
}

div#right {
	position: absolute;left:362px;top:19px;
	width: 750px;
	height: 569px;
	float:right;
/*	background-color: #00FF00; */
}

/* ================================MENU================================ */

div#left {
	position: absolute;left:152px;top:19px;
	width: 210px;
	height: 569px;
	float:left;
/*		background-color: #335566 */
}

div#menu {
	position: relative;left:10px;top:10px;
	width: 190px;
	height: 550px;
/*		background-color: #663311; */
}

div#menu_carousel {
	position: relative;left:4px;top:11px;
	width: 168px;
	height: 529px;
	}

div #menu_wtl {
	background:url('images/workbench/window_top_left.jpg') no-repeat;
	float:left;
	width: 20px;
	height: 11px
}

div #menu_wtm {
	background:url('images/workbench/window_top_middle.jpg') repeat-x;
	float:left;
	width: 123px;
	height: 11px
}

div #menu_wtr {
	background:url('images/workbench/window_top_right.jpg') repeat-x;
	float:right;
	width: 47px;
	height: 11px
}

div #menu_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 99px
}

div #menu_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 529px
}

div #menu_wr {
	position:relative;top:-518px;
	float:right;
	width: 18px;
	height: 99px;
}

div #menu_wrt {
	background:url('images/workbench/window_right_top.jpg') no-repeat;
	float:right;
	width: 18px;
	height: 5px;
}

div #menu_wrm {
	background:url('images/workbench/window_right_middle.jpg') repeat-y;
	float:right;
	width: 18px;
	height: 499px;
}

div #menu_wrb {
	background:url('images/workbench/window_right_bottom.jpg') no-repeat;
	float:right;
	width: 18px;
	height: 25px;
}

div #menu_wb {
	position:relative;top:1px;
	width: 190px;
	height: 10px;
}

div #menu_wbl {
	position:relative;top:10px;left:-4px;
	background:url('images/workbench/window_bottom_left.jpg') no-repeat;
	float:left;
	width: 4px;
	height: 10px
}

div#menu_wbm {
	position:relative;top:10px;left:-4px;
	background:url('images/workbench/window_bottom_middle.jpg') repeat-x;
	float:left;
	width: 132px;
	height: 10px
}

div#menu_wbr {
	position:relative;top:0px;left:18px;
	background:url('images/workbench/window_bottom_right.jpg') no-repeat;
	float:right;
	width: 54px;
	height: 10px
}

div#menu_window {
	position: relative;left:4px;top:11px;
	width: 708px;
	height: 389px
}



/* ================================PRODUCT WINDOW================================ */

div#product {
	position: relative;left:10px;top:10px;
	width: 730px;
	height: 410px;
/*		background-color: #777777;*/
}


div #produkt_wtl {
	background:url('images/workbench/window_top_left.jpg') no-repeat;
	float:left;
	width: 20px;
	height: 11px
}

div #produkt_wtm {
	background:url('images/workbench/window_top_middle.jpg') repeat-x;
	float:left;
	width: 663px;
	height: 11px
}

div #produkt_wtr {
	background:url('images/workbench/window_top_right.jpg') repeat-x;
	float:right;
	width: 47px;
	height: 11px
}

div #produkt_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 99px
}

div #produkt_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 389px
}

div #produkt_wr {
	position:relative;top:-378px;
	float:right;
	width: 18px;
	height: 99px;
}

div #produkt_wrt {
	background:url('images/workbench/window_right_top.jpg') no-repeat;
	float:right;
	width: 18px;
	height: 5px;
}

div #produkt_wrm {
	background:url('images/workbench/window_right_middle.jpg') repeat-y;
	float:right;
	width: 18px;
	height: 358px;
}

div #produkt_wrb {
	background:url('images/workbench/window_right_bottom.jpg') no-repeat;
	float:right;
	width: 18px;
	height: 25px;
}

div #produkt_wbl {
	position:relative;top:10px;left:-4px;
	background:url('images/workbench/window_bottom_left.jpg') no-repeat;
	float:left;
	width: 4px;
	height: 10px
}

div#produkt_wbm {
	position:relative;top:10px;left:-4px;
	background:url('images/workbench/window_bottom_middle.jpg') repeat-x;
	float:left;
	width: 672px;
	height: 10px
}

div#produkt_wbr {
	position:relative;top:0px;left:18px;
	background:url('images/workbench/window_bottom_right.jpg') no-repeat;
	float:right;
	width: 54px;
	height: 10px
}

div#produkt_window {
	position: relative;left:4px;top:-389px;
	width: 708px;
	height: 389px
}

img.img_produkt {
	height: 398px; width: 708px;
}

div#product_info_box {
	position: relative;left:0px;top:10px;
	width: 750px;
	height: 149px;
/*		background-color: #0000FF*/
}

/* ================================ADD================================ */

div#add {
	position: relative;left:10px;top:20px;
	float:left;
	width: 190px;
	height: 120px;
}

div #add_wtl {
	background:url('images/workbench/window_top_left.jpg') no-repeat;
	float:left;
	width: 20px;
	height: 11px
}

div #add_wtm {
	background:url('images/workbench/window_top_middle.jpg') repeat-x;
	float:left;
	width: 123px;
	height: 11px
}

div #add_wtr {
	background:url('images/workbench/window_top_right.jpg') repeat-x;
	float:right;
	width: 47px;
	height: 11px
}

div #add_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 99px
}

div #add_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 99px
}

div #add_wr {
	position:relative;top:-79px;
	float:right;
	width: 18px;
	height: 99px;
}

div #add_wrt {
	background:url('images/workbench/window_right_top.jpg') no-repeat;
	float:right;
	width: 18px;
	height: 5px;
}

div #add_wrm {
	background:url('images/workbench/window_right_middle.jpg') repeat-y;
	float:right;
	width: 18px;
	height: 69px;
}

div #add_wrb {
	background:url('images/workbench/window_right_bottom.jpg') no-repeat;
	float:right;	width: 18px;
	height: 25px;
}

div #add_wbl {
	position:relative;top:20px;left:-4px;
	background:url('images/workbench/window_bottom_left.jpg') no-repeat;
	float:left;
	width: 4px;
	height: 10px
}

div#add_wbm {
	position:relative;top:20px;left:-4px;
	background:url('images/workbench/window_bottom_middle.jpg') repeat-x;
	float:left;
	width: 132px;
	height: 10px
}

div#add_wbr {
	position:relative;top:10px;left:18px;
	background:url('images/workbench/window_bottom_right.jpg') no-repeat;
	float:right;
	width: 54px;
	height: 10px
}

div#add_koszyczek {
	position: relative;left:4px;top:11px;
	width: 168px;
	height: 90px
}

/* ================================INFO================================ */

div#info {
	position: relative;left:-10px;top:-59px;
	float:right;  
	width: 530px;
	height: 120px;
}

div #info_wtl {
	background:url('images/workbench/window_top_left.jpg') no-repeat;
	float:left;
	width: 20px;
	height: 11px
}

div #info_wtm {
	background:url('images/workbench/window_top_middle.jpg') repeat-x;
	float:left;
	width: 463px;
	height: 11px
}

div #info_wtr {
	background:url('images/workbench/window_top_right.jpg') repeat-x;
	float:right;
	width: 47px;
	height: 11px
}

div #info_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 99px
}

div #info_wlm {
	background:url('images/workbench/window_left_middle.jpg') repeat-y;
	float:left;
	width: 4px;
	height: 99px
}

div #info_wr {
	position:relative;top:-79px;
	float:right;
	width: 18px;
	height: 99px;
}

div #info_wrt {
	background:url('images/workbench/window_right_top.jpg') no-repeat;
	float:right;
	width: 18px;
	height: 5px;
}

div #info_wrm {
	background:url('images/workbench/window_right_middle.jpg') repeat-y;
	float:right;
	width: 18px;
	height: 69px;
}

div #info_wrb {
	background:url('images/workbench/window_right_bottom.jpg') no-repeat;
	float:right;
	width: 18px;
	height: 25px;
}

div #info_wbl {
	position:relative;top:20px;left:-4px;
	background:url('images/workbench/window_bottom_left.jpg') no-repeat;
	float:left;
	width: 4px;
	height: 10px
}

div#info_wbm {
	position:relative;top:20px;left:-4px;
	background:url('images/workbench/window_bottom_middle.jpg') repeat-x;
	float:left;
	width: 472px;
	height: 10px
}

div#info_wbr {
	position:relative;top:10px;left:18px;
	background:url('images/workbench/window_bottom_right.jpg') no-repeat;
	float:right;
	width: 54px;
	height: 10px
}

div#info_produkt {
	position: relative;left:4px;top:11px;
	width: 509px;
	height: 90px
}







/* ================================FOOTER and ELSE================================ */

div#footer {
	position: absolute;left:590px;top:600px;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

#mycarousel li {
	width: 100px; 
	height: 100px;
	cursor: pointer; 
}
